<form name="Add_livre" method="post">
  <label for="title">title:</label><br />
  <input type="text" id="title" name="title" /><br />
  <label for="author">author:</label><br />
  <input type="text" id="author" name="author" /><br /><br />
  <label for="edition" id="edition" name="edition">Edition:</label><br />
  <input type="text" id="edition" name="edition" /> <br />
  <label for="sammury">Summary:</label><br />
  <input type="text" id="summary" name="summary" /><br />
  <label for="price">Price:</label><br />
  <input type="number" id="price" name="price" />
  <input type="submit" value="Submit" />
</form>
